Package: com.ps.cconandoff
Name: CC On & Off
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Conflicts: com.jakeashacks.realcc
Version: 1.0.0
Architecture: iphoneos-arm
Description: Toggle Wi-Fi and Bluetooth On/Off from Control Center (iOS 11+)
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/cconoff.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/cconoff.json
